@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --colorBg:#f3f4f6 ;
    --colorText:#585858;
    --colorText2:#0d0d0d;
    --colorNavbar:#6200ee;
}


.dark {
    --colorBg:#1f1f1f ;
    --colorText:#929292;
    --colorText2:#dfdfdf;
    --colorNavbar:#292929;
}

.container { 
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}